@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
html body {
  font-family: 'roboto';
  overflow: hidden;
}
/*
body {
  position: absolute;
  top: 0px;
  left: 0px;
}
*/

.loading-background {
  position: fixed;
  display:flex;
  justify-content:center;
  align-items:center;
  background: rgba(0,0,0,0.6);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.loading-popup {
  width:600px;
  height:200px;
  background-color: #eee;
  border-radius: 16px;
  text-align: center;
}

.select-project {
  background-color: #444444;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #eee;
  padding-left: 15px;
  padding-right: 15px;
}
.projects {
  height: 425px;
  display: block;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}
.projects::-webkit-scrollbar { width: 0 !important }
.add-new-project-btn {
  border: none;
  background: transparent;
  color: #eee;
  position: absolute;
  right: 0;
  bottom: 0;
  margin:8px;
}
.project {
  position: relative;
  height: 50px;
  cursor: pointer;
  padding-left: 5px;
}
.project-name {
  padding-top: 5px;
}
.project-path {
  padding-bottom: 10px;
}
.project:hover {
  background-color: #bfbfbf;
  color: #444;
}
.select-project-btn {
  position: absolute;
  right: 5px;
  top: 26px;
  border: none;
  background-color: transparent;
}
.new-project-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.2);
  display:flex;
  justify-content:center;
  align-items:center;
}
.new-project-box {
  position: relative;
  width: 300px;
  height: 115px;
  background-color: #444444;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  border-radius: 8px;
}
.new-project-input-label {
  color: #eee;
  display: block;
  width: 100%;
  margin: 10px;
}
.new-project-input {
  margin: 10px;
  margin-top: 0px;
  width: 280px;
}
.new-project-input:active {
  border: none;
  outline: none;
}
.new-project-input.ng-invalid-pattern {
  outline: 2px solid red;
}
.project-info {
  position: relative;
  display: inline-block;
  margin: 0;
  left:0px;
  top: 0px;
  height: 100vh;
  width: 300px;
  border-right: 1px solid #000;
  z-index: 88;
}
.main-view {
  position: relative;
  display: inline-block;
  height: 100vh;
  margin: 0px;
}
.project-info-container {
  position: absolute;
  width: 300px;
  top: 0px;
  left: 0px;
  padding: 25px;
}
.main-view-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}